@import "./variable.scss";

.app {
  background-image: url(./../img/fond.png);
  background-image: cover;
  background-repeat: no-repeat;
  height: 100vh;
  p {
    color: $blanc;
  }
}
H1 {
  text-align: center;
  color: $grisclair;
  text-shadow: 5px 4px 4px rgba(1, 1, 1, 0.25);
}
//navbar
.navigation {
  position: fixed;
  bottom: 10px;
}

.navContener {
  div {
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $blanc;
  }
}
//Bordure
.bordure {
  opacity: 0;
  height: 100vh;
  border: none;
}
.bordure:hover {
  background-color: $blanc;
  opacity: 0.05;
}
